

body {
    font-family: "acumin-pro", "source-han-sans-traditional", "Segoe UI", Roboto, "Helvetica Neue", "Microsoft JhengHei", "Microsoft YaHei", Helvetica, Arial, sans-serif;
}

body, input, textarea, select, button {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: 'liga', 'kern';
    direction: ltr;
}

p {
    font-size: 2rem;
}

.w1 {font-weight: 100;}
.w2 {font-weight: 200;}
.w3 {font-weight: 300;}
.w4 {font-weight: 400;}
.w5 {font-weight: 500;}
.w6 {font-weight: 600;}
.w7 {font-weight: 700;}
.w8 {font-weight: 800;}
.w9 {font-weight: 900;}